<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=mena-lap\mssqlserver12;Initial Catalog=PricingAppointements;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <!--<add key="dbConnection" value="Persist Security Info=False;User ID=sa;Password=sqladmin;Initial Catalog=PricingAppointment;Data Source=.;"/>-->
    <add key="SecurityKey" value="Michael Heshmat Youssef"/>
	<add key="dbConnection" value="Persist Security Info=False;User ID=sa;Password=sqladmin;Initial Catalog=PricingAppointements;Data Source=mena-lap\mssqlserver12;"/>
    <!--<add key="dbConnection" value="Persist Security Info=False;User ID=pricinglogin;Password=pricinglogin123;Initial Catalog=Pricing;Data Source=localhost;"/>-->
    <add key="AttachementPath" value="~/Attachments/"/>
	<add key="NotificationsAttachementPath" value="~/Attachments/Notifications/"/>
    <add key="StatusAttachementPath" value="~/Attachments/Status/"/>
    <!--<add key="mailFromAddress" value="michael@i-valley.com" />
    <add key="mailFrompass" value="justme" />
    <add key="mailserver" value="mail.i-valley.com"/>-->
    <add key="mailFromAddress" value="Pricing@eda.mohealth.gov.eg"/>
    <add key="mailFrompass" value="S=a5REpr"/>
    <add key="mailserver" value="mail.nmi.gov.eg"/>
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" />
      </providers>
    </membership>
    <machineKey validationKey="B4443E3E4BE325129357BB90A6DFE010D993BBFA742F206184299F640BC0D656E53D622BD99F65F6DE849ED25578FE982B6A1A2E18A8EEFEDF34E607D20F8223" decryptionKey="B6164A5AC708ABD9E132EE30C9B175F97A57AA7CEE1038CC7024D187C9004857" validation="SHA1" decryption="AES" />
    <!--<profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>